services:
  db:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - db
    ports:
      - "127.0.0.1:5432:5432"

networks:
  db:
    external: true

volumes:
  postgres_data:
